<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NikePage</title>
    <link rel="shortcut icon" href="../assets/images/shoe.png" type="image/x-icon" />
  </head>
  <body>

    <section>
      <header>
        <a href="#" class="logo"><img src="../assets/images/logo.png" /></a>
        <div class="toggle"></div>
      </header>

      <div class="content">
        <div class="imgBx">
          <img src="../assets/images/shoe.png" />
        </div>

        <div class="text">
          <h2>Nike Air ZoomX</h2>
          
          <p>
            Presentamos el nuevo Nike Air ZoomX, tiene la comodidad y consistencia del calzado que los corredores conocen y aman, además de nuestras últimas innovaciones diseñadas para llevar tu próxima carrera a altitudes nuevas y audaces.
          </p>
          
          <a href="#">Details</a>
        </div>
      </div>

    </section>

  </body>
</html>